/*...................Estilos contenido navbar....................... */

.navbar-transparent {
    background-color: transparent;
}

.navbar-scroll {
    background-color: #2e2b2b;
    /* Change this to your desired color */
}

.navbar {
    transition: background-color 0.5s;
    /* Adjust transition duration as needed */
}

.navbar-brand {
    font-family: "Poppins";
    font-size: 1.5rem !important;

    img {
        width: 35px;
        vertical-align: text-top;
    }
}

/*..................Estilos contenido carousel...................... */
.carousel img {
    max-height: 700px;
    position: relative;
    margin: 0 auto
}

#carousel-inner {
    font-family: "Lato";
    color: #F4F1E5;
}

/* Efecto transción de slade del carousel */
.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}


/*..................Estilos contenido Presentación...................... */
#presentacion {
    background-color: #F4F1E5;
    font-family: "Poppins";
    color: #30384A;
}

#destacados {
    background-color: #758E95;
    font-family: "Poppins";
    color: #F4F1E5;
}

.card img {
    max-height: 227px;
}

.card-body {
    background-color: #758E95;
    font-family: "Poppins";
    color: #F4F1E5;
}

/*..................Estilos contenido contacto........................ */
#contacto {
    background-color: #30384A;
    color: #F4F1E5;
    font-family: "Poppins";
}


/*..................Estilos contenido Footer...................... */
footer {
    background-color: #373A3C;
    color: #F4F1E5;
    font-family: "Poppins";
    font-size: 10px;

    img {
        width: 35px;
        vertical-align: text-top;
    }
}

/*..................Estilos botón scroll...................... */
#scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8CB67C;
    color: #F4F1E5;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}